:root {
    --black-color: #2C2828;
    --dark-color: #3B2C85;
    --accent-color: #219897;
    --light-color: rgb(133, 207, 203);

    /* Background Gradient */
    --color1: var(--accent-color);
    --color2: #0F3460;
    --color3: #533483;
    --color4: #E94560;

    --w1: 75%;
    --h1: 75%;
    --x1: 0%;
    --y1: 0%;

    --w2: 75%;
    --h2: 75%;
    --x2: 100%;
    --y2: 0%;
 
    --w3: 75%;
    --h3: 75%;
    --x3: 100%;
    --y3: 100%;
 
    --w4: 75%;
    --h4: 75%;
    --x4: 0%;
    --y4: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Ubuntu, sans-serif;
    color: var(--light-color);
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background-color: var(--black-color);
    background-image: 
    radial-gradient(var(--w1) var(--h1) at left var(--x1) top var(--y1), var(--color1), transparent), radial-gradient(
        var(--w2) var(--h2)
        at left var(--x2) top var(--y2),
        var(--color2),
        transparent
      ),
      radial-gradient(
        var(--w3) var(--h3)
        at left var(--x3) top var(--y3),
        var(--color3),
        transparent
      ),
      radial-gradient(
        var(--w4) var(--h4)
        at left var(--x4) top var(--y4),
        var(--color4),
        transparent
      );
    grid-template-columns: 100%;
    position: relative;
}

main:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    background-image: url(images/pride-dice.png);
    background-size: contain;
    position: absolute;
    opacity: .3;
    z-index: -1;
}

#container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "h1 h1 .  ."
        "ab ab ab ."
        ".  .  .  ."
        "pf .  .  ."
        "pf .  .  .";
    width: 90%;
    height: 85vh;
    margin: 3em auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    backdrop-filter: blur(1.3px);
}

h1 {
    font-size: 2.3em;
    grid-area: h1;
    align-self: center;
}

#about {
    grid-area: ab;
    justify-self: center;
    font-size: 1.3em;
}

#portfolio {
    grid-area: pf;
}

ul {
    list-style: none;
    padding-left: .4em;
    gap: .4em;
}

li>a {
    text-decoration: none;
    color: var(--accent-color);
}

li>a:hover {
    text-decoration: underline;
    background-color: var(--accent-color);
    color: var(--color4);
}