:root {
    --dark-color: #0f0c24;
    --medium-color: #a350a3;
    --accent-color: #c1436d;
    --light-color: #3ea2c4;
    --white-color: #20c3bc;
}

body {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .5em 1em;
    background-color: var(--white-color);
    margin: 0;
    position: sticky;
    width: 100%;
}

#navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0;
}

#navigation>li>a {
    text-decoration: none;
    color: var(--dark-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#color-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#color-palette>div {
    width: 25px;
    height: 25px;
}

#dark {
    background-color: var(--dark-color);
}

#medium {
    background-color: var(--medium-color);
}

#accent {
    background-color: var(--accent-color);
}

#light {
    background-color: var(--light-color);
}

#white {
    background-color: var(--white-color);
}